<header th:fragment="header" class="bg-white w-full flex gap-4 md:gap-12 items-center p-2 border-b-2 border-slate-300 flex-wrap">
  <a th:href="@{/}">
    <img th:src="@{/img/bennys-logo.webp}" width="65" alt="Logo Tio Benny's" />
  </a>
  <ul class="flex gap-4 items-center">
    <li class="font-bold"><a href="/">início</a></li>
    <li class="font-bold"><a href="/animais">animais</a></li>
  </ul>
  <form method="get" action="/animais" class="w-full md:w-1/2">
    <input type="search" name="q" placeholder="buscar animal"
      class="bg-white rounded-lg shadow p-2 w-full border-2 border-slate-300" />
  </form>
</header>