<!DOCTYPE html>
<html lang="pt-BR" th:fragment="layout(pageTitle, children)">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="'Tio Benny\'s | ' + ${pageTitle}"></title>
  <link th:href="@{/css/app.css}" rel="stylesheet" />
  <script th:src="@{/js/app.js}" type="module" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js"
    integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <style>
    .container-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: auto;
      grid-auto-flow: row;
      justify-content: center; 
      align-items: center;
      padding: 20px;
      margin-top: 50px;
    }

    .card-header {
      background-color: #F0F1FF;
      border: 1px solid #FDF0FF;
      padding: 10px;
      border-radius: 0.25rem;
      box-shadow: 0px 9px 40px 0px rgba(207, 196, 245, 1);
    }
  </style>
</head>

<body>
  <header th:insert="~{components/header :: header}"></header>
  <main th:insert="${children}" class="min-h-screen"></main>
  <footer th:insert="~{components/footer :: footer}"></footer>
</body>

</html>